@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
#root {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
  color: black;
}

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  position: relative;
}
.mini-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 35px;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  width: auto;
}

.answer-space {
  display: flex;
  justify-content: center;
  background-color: rgb(226, 195, 147);
  padding: 4px 8px;
  margin-bottom: 26px;
  width: auto;
  height: 20px;
  border-radius: 10px;
}

li {
  list-style: none;
}

#wrong {
  background-color: rgb(219, 93, 93);
}

#correct {
  background-color: rgb(191, 116, 191);
}
.button {
  border-radius: 5px;
  color: white;
  padding: 10px 15px;

  font-size: 16px;

  background-color: rgba(138, 98, 12, 0.942);
  font-weight: bold;
  border: none;

  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
.drink-container .button {
  text-align: center;
}
.drink-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  position: relative;
}

.mini-header {
  display: flex;
  width: 93%;
  background-color: rgb(226, 195, 147);
  /* color: white; */
  padding: 15px 32px;
  border-radius: 8px;
  /* margin-right: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  height: 25px;
  text-align: center;
  align-items: center;
}

.newdrink {
  width: auto;
}
li {
  margin-top: 3px;
  margin-bottom: 3px;

  background-color: #fffdd0;
  border-radius: 25px;
}
.title {
  display: inline-block;
  margin-bottom: 0;
}

.title-container {
  text-align: left;
  margin-bottom: 50px;
}
h3 {
  text-align: center;
}
h2 {
  text-align: center;
}
